body {
font-family: 'Gentium Book Plus', serif;
background: rgba(170, 224, 229, 0.827);
}
.heading {
    text-align: center;
    font-size: 2.5rem;
}
.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
.result-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
    background-color: aqua;
}
.score-area {
    background-color: antiquewhite;
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}
.controls-area {
    width: 85%;
    margin: 30px auto;
}
.btn {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: xxx-large;
}