body {
font-family: 'Gentium Book Plus', serif;
background: rgba(170, 224, 229, 0.827);
}
.heading {
    text-align: center;
    font-size: 2.5rem;
}
.game-area {
    box-sizing: border-box;
    width: 85%;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
}
.result-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
    background-color: #92caca;
    text-align: center;
}
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}
.controls-area {
    width: 85%;
    margin: 30px auto;
}
.btn {
    width: 220px;
    height: 189px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: xxx-large;
    margin: 2px;
    border: none;
}
.rules button{
    margin-left: 10%;
    margin-bottom: 1%;
    font-size: inherit;
    border: none;
    background: inherit;
    
}
