body {
font-family: 'Gentium Book Plus', serif;
background: rgba(170, 224, 229, 0.827);
}
.heading {
    text-align: center;
    font-size: 2.5rem;
}
.game-area {
    box-sizing: border-box;
    width: 85%;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
   
}
.result-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
    text-align: center;
   
}
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
   
}
.controls-area {
    width: 85%;
    margin: 30px auto;
    display: inline-block;
}
.btn {
    width: 220px;
    height: 189px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: xxx-large;
    margin: 2px;
    border: none;
    display: inline-block;
}
.rules button{
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: inherit;
    border: none;
    background: inherit;
    
}
.player-area {
    display: inline-block;
}
.computer-area {
    display: inline-block;
}
@media (max-width: 800px) {
    .btn {
        width: 203px;}
    }
    @media (max-width: 730px) {
        .btn {
            width: 172px;
            height: 158px;
            margin: 1px;
    }}
    @media (max-width: 665px){

        .heading {
            text-align: center;
            font-size: 2.0rem;
        }
        .rules button {
            font-size: larger;
        }
    }
    @media (max-width: 655px){
        .game-area {
            width: 100%;
        }
        .btn {
            width: 159px;
            height: 138px;
    }
}
@media (max-width: 525px){
    .btn {
        background-color: inherit;
}
.result-area {
    padding: 25px 
}}
@media (max-width: 350px){
    .btn {
        width: 97px;
        height: 106px;
        margin: 1px;
}
.heading {
    font-size: 1.5em;
}
.heading {
    font-size: 1.5em;

}
.rules button {
    font-size: medium;
}
}